<!-- src/app/header/header.component.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/profile-icon.png" alt="Profile Icon" class="profile-icon">
            Birjis Khatoon
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span [ngClass]="{'navbar-toggler-icon': isNavbarCollapsed, 'd-none': !isNavbarCollapsed}"></span>
            <span *ngIf="!isNavbarCollapsed">&#10005;</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollTo('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollTo('about')">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollTo('skills')">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>