<!-- src/app/header/header.component.html -->
<div *ngIf="!isConvertorsHeader">
    <nav class="navbar navbar-expand-lg navbar-light bgColor fontName alignCenter">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="textColor">Birjis Khatoon</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                <div class="custom-toggler" [ngClass]="{'open': !isNavbarCollapsed}">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="nav-link textColor hand" (click)="scrollTo('home')">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link textColor hand" (click)="scrollTo('about')">About Me</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link textColor" (click)="scrollTo('projects')">Projects</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link textColor" (click)="scrollTo('download')">Download</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link textColor" (click)="scrollTo('contact')">Contact</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link textColor hand" (click)="openColorPicker()">Color Picker</button>
                        <!-- <button class="nav-link textColor hand" data-bs-toggle="collapse" href="#colorPickerCollapse"
                        role="button" aria-expanded="false" aria-controls="colorPickerCollapse">Color Picker</button> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bgColor textColor fontName colorPicker" *ngIf="isColorPicker==true" id="colorPickerCollapse"
        [formGroup]="colorPickerForm">
        <h2 class="">Color Picker</h2>

        <div class="form-group">
            <label for="textColors">Text Color:</label>
            <input type="color" id="textColors" formControlName="textColor" />
        </div>

        <div class="form-group">
            <label for="bgColor">Background Color:</label>
            <input type="color" id="bgColor" formControlName="bgColor" />
        </div>

        <button class="removeDefBtnCss buttonColors applyBtn" (click)="emitColorChange()">Apply Colors</button>
    </div>
</div>
<!-- Add content specific to ConvertorsHeader -->
<!-- Add content specific to ConvertorsHeader -->
<div *ngIf="isConvertorsHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2" id="convertorsHeader">
        <a class="navbar-brand" href="#">Convertors</a>
        <button class="navbar-toggler" type="button" (click)="toggleAllConvertors()">
            <span [ngClass]="{'navbar-toggler-icon': !showAllConvertors, 'close-icon': showAllConvertors}"></span>
        </button>

        <div class="navbar-collapse">
            <div class="navbar-nav">
                <button class="btn btn-dark d-none d-lg-block" (click)="toggleAllConvertors()">Tools</button>
            </div>
        </div>
    </nav>

    <div *ngIf="showAllConvertors" class="all-convertors">
        <div class="category-container">
            <div *ngFor="let category of categories" class="category">
                <strong>{{ category.name }}:</strong>
                <ul class="convertor-list">
                    <li *ngFor="let convertor of category.convertors" (click)="onConvertorNameClick(convertor.name)"
                        class="hand">{{
                        convertor.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>