<div>
    <section id="medico" class="medico-section fontName">
        <div class="container">
            <div class="row" style="margin-top: 10%;">
                <div class="col-md-6">
                    <div class="medico-content">
                        <h2>Experienced general practitioners who have an eye for your care</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                        <button class="medicoButtonCss">
                            <img src="assets\medicoAppointment.svg" alt="" style="height: 20px;">
                            <span>Book an appointment</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets\medicoCoverImg.png" alt="" class="w-100 h-100">
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-12 blueBgColor">
                    <!-- <div class=""> -->
                        <ul class="py-5 col-md-12 row">
                            <li class="col-md-4 col-12">
                                <div class="d-flex alignCenter">
                                    <h1>Virtual Assitant</h1>
                                    <img src="assets\medicoRightArrow.svg" alt="">
                                </div>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, suscipit.</span>
                            </li>
                            <li class="col-md-4 col-12">
                                <div class="d-flex alignCenter">
                                    <h1>Virtual Assitant</h1>
                                    <img src="assets\medicoRightArrow.svg" alt="">
                                </div>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, suscipit.</span>
                            </li>
                            <li class="col-md-4 col-12 pb-0">
                                <div class="d-flex alignCenter">
                                    <h1>Virtual Assitant</h1>
                                    <img src="assets\medicoRightArrow.svg" alt="">
                                </div>
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, suscipit.</span>
                            </li>
                        </ul>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
</div>