.card {
    border-radius: 20px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.photoHeader {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

@media (max-width: 576px) {
    .col-md-3 {
        width: 50%;
    }
}