@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
    --primary-color: #C17F6A;
    /* Set your primary text and icon color here */
    /* --bg-color: rgb(37, 189, 148); */
    --bg-color: #0A0F38;
    /* --bg-color: #ffffff; */
    /* Set your background color here */
}


.textColor {
    color: var(--primary-color) !important;
}

.bgColor {
    background-color: var(--bg-color) !important;
}

.buttonColors {
    color: var(--bg-color) !important;
    background-color: var(--primary-color) !important;
}

.removeDefBtnCss{
    background: none;
    border-style: none;
}

nav.navbar .navbar-nav .nav-link.textColor {
    color: var(--primary-color) !important;
}

.custom-toggler .bar {
    background-color: var(--primary-color) !important;
}

.fontName {
    font-family: 'Noto Sans Korean', sans-serif;
}

.alignCenter {
    align-items: center;
}

.hand {
    cursor: pointer;
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Korean Light'), local('NotoSansKRLight'), url('./assets/fonts/NoToSans/NotoSansKR-Light.ttf') format('truetype');
}