<!-- src/app/home/home.component.html -->

<section id="home">
    <!-- Home content goes here -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>this is home</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
</section>

<section id="about">
    <!-- About Me content goes here -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>this is about</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
</section>

<section id="skills">
    <!-- Skills content goes here -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>this is skills</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
</section>

<!-- ... (other sections) ... -->