<!-- src/app/home/home.component.html -->

<section id="about" class="about-section fontName">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="about-content">
                    <h2>Hey, I'm Birjis Khatoon</h2>
                    <p>A Frontend focused Web Developer building the Frontend of Websites and Web Applications that
                        leads to the success of the overall product.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <!-- Skills content goes here -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
    <p>this is skills</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos impedit eveniet pariatur earum velit excepturi
        incidunt ipsum. Odit expedita nostrum quia. Animi ut commodi asperiores adipisci in magnam mollitia explicabo.
    </p>
</section>

<!-- ... (other sections) ... -->