.medico-content h2 {
    font-size: 45px;
    font-weight: 900;
}

.medicoButtonCss {
    background-color: #2461FF;
    color: #FFFFFF;
    border-radius: 56px;
    border: 0;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* margin: 0px 1rem; */
}

.blueBgColor {
    background-color: #2461FF;
}

.blueBgColor ul {
    list-style: none;
}

.blueBgColor li {
    padding: 0 3rem;
    border-right: 1px solid #FFFFFF;
}

.blueBgColor span {
    color: #FFFFFF;
}

.blueBgColor h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.blueBgColor img {
    margin: 0 10px;
    height: 20px;
}

.practice-section h1 {
    font-weight: bolder;
    font-size: 25px;
}

.practice-section img {
    height: 20px;
    margin: 0 10px;
}

.howitworks-section {
    background-color: #D0F4FD;
    padding: 5rem;
}

.howitworks-section h1 {
    font-weight: bolder;
    font-size: 40px;
}

.howitworks-section span {
    font-size: 16px;
}

.howitworks-section img {
    max-width: 50%;
}

.blueAppointment {
    background-color: #2461FF;
    /* padding: 5rem;
    margin: auto; */
}

.blueAppointment h1 {
    color: #FFFFFF;
}

.blueAppointment p {
    color: #FFFFFF;
}

.blueAppointment button {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 20px;
}

.blueAppointment span {
    font-weight: 500;
    font-size: 13px;
}

@media (max-width: 767px) {
    .blueBgColor li {
        padding: 0 4rem 3rem 0;
        /* border-bottom: 1px solid #FFFFFF; */
    }

    .howitworks-section {
        padding: 1rem;
    }

    .howitworks-section img {
        max-width: 100%;
    }

    /* .blueAppointment{
        padding: 2rem;
        margin: auto;
    } */
}